@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&family=Russo+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
}


.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}



.main:after {
  content: "";
  background-image: url("/src/assets/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(200px) saturate(150%);
  top: 80px;
  opacity: .5;
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 15rem;
}

.navbar-logo{
  display: flex;
  justify-content: center;
  align-items: center;

  img{
      width: 80px;
      height: 80px;
     
      @media screen and (min-width: 2000px){
          width: 100px;
          height: 100px;
      }
          
  }
}

.navbar-links{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;

  list-style: none;

  li{
      margin: 0 1rem;
      cursor: pointer;

      div{
          width: 60%;
          height: 5px;
          background: transparent;
          border-radius: 10%;

          margin-bottom: 5px;
      }

      a{
          color: white;
          text-decoration: none;
          flex-direction: column;
          text-transform: uppercase;
          font-weight: 500;
          font-family: russo;

          transition: 0.2s ease-in-out;

          &:hover{
              color: #627BFF;
          }
      }

      &:hover{
          div{
              background: #627BFF;
          }
      }
  }

  @media screen and (max-width:900px){
      display: none;

  }
}

.navbar-menu{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);

  svg{
      width: 70%;
      height: 70%;
      color: var(--white-color);
  }

  div{
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 3;

      padding: 1rem;
      width: 80%;
      height: 100vh;


      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      background: url(../../assets/bgWhite.png);
      background-color: var(--white-color);
      background-size: cover;
      background-repeat: repeat;
      

      box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

      svg{
          width: 35px;
          height: 35px;
          color: var(--secondary-color);
          margin: 0.5rem 1rem;
      }

      ul{
          list-style: none;
          height: 100%;
          width: 100%;
          padding: 0;
          margin: 0;

          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;

          li{
              margin: 1rem;

              a{
                  color: var(--gray-color);
                  text-decoration: none;
                  font-size: 1rem;
                  text-transform: uppercase;
                  font-weight: 500;
                  
                  transition: 0.3s ease-in-out;
          
                  &:hover{
                   color: var(--secondary-color);
                  }
              }
          }
      }

      @media screen and (min-width: 900px) {
          display: none;   
      }
  }

  @media screen and (min-width: 900px) {
      display: none;   
  }
}


/* Tailwind Styles */

.head_text {
  @apply font-medium text-9xl tracking-wide leading-[1.2]  sm:text-6xl text-center;
}

.text_gradient{
  @apply bg-gradient-to-r from-[#627BFF] via-[#6972CD] via-[#627BFF] via-[#6972CD] to-[#627BFF]  bg-clip-text text-transparent
}

.sub-text{
  @apply mt-10 font-bold text-center text-white text-xl;
}

.btn {
  @apply mt-16 rounded-lg bg-[#627BFF] py-3 px-8 text-[#00000E] transition-all hover:bg-white hover:text-purple-700;
}

.buy_btn{
  @apply mt-2 font-russo text-xl rounded-lg bg-transparent py-3 px-8 text-[#627BFF] transition-all hover:bg-white hover:text-purple-700 border-4 border-[#627BFF] hover:border-transparent;
}

.link_text{
  @apply font-russo text-center text-white;
}

.p_text{
  @apply mt-20 leading-[200%] tracking-[10%] font-outfit font-semibold text-center text-white w-[65%] text-2xl;
}

.section_text{
  @apply font-russo tracking-widest text-5xl;
}

.about{
  @apply w-full px-32 py-32 flex flex-col items-center bg-white/5 backdrop-blur-2xl;
}

.mile_stone{
  @apply flex flex-row justify-center items-center px-32 py-32 border-white border-2
}