@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&family=Russo+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
}


.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 10rem;
  z-index: 20;


  @media (max-width: 1280px){
    padding: 0.25rem 1rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

}

.navbar_menu {
width: 35px;
height: 35px;
border-radius: 50%;
position: relative;

display: flex;
justify-content: center;
align-items: center;


svg{
    width: 100%;
    height: 80%;
    color: white;
}

div{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 12;

    padding: 1rem;
    width: 100%;
    height: 100vh;


    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    background-color: #f5f5f5;

    

    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

    svg{
        width: 35px;
        height: 35px;
        color: #627BFF;
        margin: 0.5rem 1rem;
    }

    ul{
        list-style: none;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        li{
              display: flex;
              justify-content: space-between;
              width: 100%;

            .a{
                color: #627BFF;
                text-decoration: none;
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 500;
                
                transition: 0.3s ease-in-out;
        
                &:hover{
                 color: #7E22CE;
                }
            }
        }

  }


  }
}


/* Tailwind Styles */

.navbar_logo{
  @apply w-[60px] h-[60px] lg:h-[100px] lg:w-[100px];
}

.navbar_links{
  @apply flex-row justify-between items-center hidden lg:inline-flex cursor-pointer;
}

.link_text{
  @apply px-12 py-10;
}
.navbar_menu{
  @apply lg:hidden;
}

.head_text {
  @apply font-medium text-3xl sm:text-6xl tracking-wide leading-[1.2] text-center drop-shadow-2xl;
}

.text_gradient{
  @apply bg-gradient-to-r from-[#627BFF] via-[#6972CD] via-[#627BFF] via-[#6972CD] to-[#627BFF]  bg-clip-text text-transparent
}

.sub-text{
  @apply w-full mt-10 font-bold text-center text-white text-sm sm:text-xl;
}

.btn {
  @apply text-xs sm:text-lg mt-16 rounded-lg bg-[#627BFF] py-2 px-3 text-[#00000E] transition-all hover:bg-white hover:text-purple-700 sm:w-[175px];
}

.buy_btn{
  @apply mt-2 font-russo text-sm rounded-lg bg-transparent py-2 px-6 text-[#627BFF] transition-all hover:bg-white hover:text-purple-700 border-4 border-[#627BFF] hover:border-transparent;
}

.link_text{
  @apply font-russo text-center text-white;
}

.p_text{
  @apply  mt-6 xl:mt-20 leading-[160%] xl:leading-[200%] tracking-[10%] font-outfit font-semibold text-center text-white w-full xl:w-[80%] text-lg xl:text-2xl;
}

.section_text{
  @apply font-russo tracking-widest text-2xl xl:text-5xl;
}

.about{
  @apply w-full px-10 py-10 xl:px-32 xl:py-32 flex flex-col items-center bg-gradient-to-r from-[#42566733] to-[#2029324c] bg-opacity-5;
}

.mile_stone{
  @apply flex flex-col xl:flex-row justify-center xl:justify-between items-center py-10 px-10 xl:px-32 xl:py-32 text-center xl:text-left h-auto;
}

.mile-img{
  @apply w-[50%] flex justify-center items-center;
}

.token{
  @apply w-full px-10 py-10 xl:px-32 xl:py-32 flex flex-col items-center bg-gradient-to-r from-[#42566733] to-[#2029324c] bg-opacity-5;
}


